@import '../Scss/Media';
// @import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&display=swap');
* {
  margin: 0;
  // font-family: "Cairo", sans-serif;
  font-family: 'Tajawal', sans-serif, Tahoma, Arial;
  font-family: "El Messiri", sans-serif;
  box-sizing: border-box;
}
:root {
  --primary-100:rgba(27,117,187,1);
  --primary-200:#a036dd;
  --primary-300:#004f8f;
  --accent-100:#26ace6;
  --accent-200:#99c7ff;
  --text-100:#000000;
  --text-200:#2c2c2c;
  --bg-White:#fff;
  --bg-100:#F7EEDD;
  --bg-200:#ede4d3;
  --bg-300:#c4bcab;
}
::-webkit-scrollbar {
  width: 5px; /* width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #dddddd; /* color of the track */
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-100); /* color of the scrollbar */
  border-radius: 0px; /* roundness of the scrollbar */
}

body{
  background-color: var(--bg-white);
  direction: rtl;
  @include breakpoint(desktop){
    background-color: var(--bg-white);
  }
}
//NavBar
.nav-header{
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  .first-navbar {
    // background-color: var(--primary-100);
    background-color: #fff;
    width: 100%;
    color: white;
    .navbar-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
      padding: 10px 20px;
      @include breakpoint(desktop){
        padding: 10px 80px;
      }
      .search-bar {
        // display: flex;
        // flex: 1;
        // margin: 0 20px;
        // width: 100%;
        display: flex;
        flex: 1 1;
        box-shadow: 0 0 6px 0px #0000002e;
        padding: 10px;
        margin: 0 20px;
        border-radius: 32px;
        width: 100%;
        input {
          flex: 1;
          padding: 5px;
          border: none;
          outline: none;
          border-radius: 0 3px 3px 0;
          opacity: .5;
        }
        button {
          padding: 5px;
          border: none;
          border: none;
          color: rgba(255, 255, 255, 0.629);
          color: rgba(0, 0, 0, 0.629);
          // background-color: var(--primary-300);
          background-color: transparent;
          border-radius: 3px 0 0 3px;
          cursor: pointer;
        }
      }
      .nav-icons {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        gap: 25px;
        .icon {
          font-size: 1.3em;
          cursor: pointer;
          color: #ffffffa0;
        }
      }
    }
  }
  .second-navbar{
    background-color: var(--bg-White);
    width: 100%;
    position: relative;
    z-index: 1000;
    .navbar-container{
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
      padding: 10px 20px;
      @include breakpoint(desktop){
        padding: 10px 80px;
      }
      .logo{
        img{
          width: 50px;
          height: 50px;
        }
      }
      .nav-bars{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 4px;
        width: 30px;
        .bar{
          width: 100%;
          height: 5px;
          background-color: var(--accent-100);
          border-radius: 5px;
        }
      }
    }
  }
  .menu {
    width: 220px;
    background-color: var(--accent-100);
    position: absolute;
    top: 100%;
    left: 5%;
    transition: right 0.3s ease-out, opacity 0.3s ease-out;
    display:none;
    z-index: 1000;
    border-radius: 5px;
    padding:0 5px ;
    max-height: 350px;
    overflow-y: auto;
  }
  .menu.open {
    display: block;
  }
  .menu-item {
    border-bottom: 1px solid var(--primary-100);
    background-color: var(--accent-100);
    .menu-title {
      padding: 10px;
      cursor: pointer;
      font-size: 15px;
      background-color: var(--accent-100);
      color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &:hover{
        background-color: var(--primary-200);
      }
    }
  }
  .arrow-icon {
    margin-right: 10px;
  }
  
  .submenu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
  }
  
  .submenu.open {
    max-height: 500px; /* Adjust based on expected content size */
    transition: max-height 0.5s ease-in;
  }
  
  .submenu .menu-item {
    padding-right: 20px; /* Indentation for nested items */
    background-color: #e0e0e0;
  }
  // end Navbar
}
.main{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 145px;
  height: calc(100vh - 160px);
  // top sale 
  .top-sale-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
    .bestSeller-container{
      display: flex;
      width: 100%;
      padding: 0 8px;
      .col{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        .product-img{
          width: 160px;
          height: 160px;
        }
        .product-desc{
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          padding: 0 8px;
          .product-name{
            font-size: 18px;
            direction: rtl;
          }
          .product-price{
            font-size: 35px;
            direction: rtl;
            span:nth-child(1){
              font-size: 30px;
              color: var(--primary-100);
            }
            span:nth-child(2){
              font-size: 20px;
              margin-right: 2px;
            }
          }
        }
      }
    }
    h2{
      align-self: center;
      color: rgba(26, 26, 26, 0.7);
      font-size: 28px;
      font-weight: normal;
    }
  }
  //end top sale 
  // start sections 
  .sections-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    padding: 0 15px;
    .section{
      width: 100%;
      position: relative;
      // border-bottom:1px dashed #000000;
      img{
        width:100% ;
      }
      .section-name{
        background-color: #00000061;
        padding: 10px;
        text-align: center;
        z-index: 9;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        h2{
          color:var(--bg-100);
          font-size: 20px;
          font-weight: normal;
        }
      }
    }
  }
  // end sections 
  // start section page 
  .pagination{
    direction: ltr;
    display: flex;
    justify-content: center;
  }
  .section-top{
    display: flex;
    justify-content: space-between;
  }
  .top{
    width: 100%;
    padding: 0 10px;
    .top-title{
      font-size: 22px;
      color: #0000009e;
    }
    .filter{
      display: flex;
      gap: 10px;
      align-items: center;
      svg{
        font-size: 14px;
        color: #0000009d;
      }
    }
  }
  .products-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0 10px;
    .product{
      display: flex;
      gap: 15px;
      .img-container{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f7f7f7;
        padding: 5px;
        width: 40%;
        img{
          width: 100%;
        }
        .favorite{
          position: absolute;
          bottom: 0%;
          text-align: center;
          background-color: #00000036;
          padding:5px;
          width: 100%;
          svg{
            color: #db2626;
            font-size: 30px;
          }
        }
      }
    }
    .left-section{
      display: flex;
      flex-direction: column;
      gap: 10px;
      .product-name{
        font-size: 16px;
        color: #000000bf;
      }
      .product-price{
        font-size: 35px;
        direction: rtl;
        span:nth-child(1){
          font-size: 30px;
          color: var(--primary-100);
        }
        span:nth-child(2){
          font-size: 20px;
          margin-right: 2px;
        }
      }
      .product-availability{
        color: #be1414;
        font-size: 14px;
      }
      .quantity{
        display: flex;
        justify-content: center;
        align-items: center;
        width: fit-content;
        button{
          outline: none;
          border: none;
          padding: 0 4px;
          font-size: 18px;
          width: 30px;
        }
        .number{
          width: 100px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #0000000f;
          font-size: 18px;
          padding: 0 4px;
        }
        .decrease{
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #26ace6;
        }
        .increase{
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #30c36b;
        }
      }
      .desc-order{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .order-btn{
          background-color: #26ace6;
          outline: none;
          border: none;
          color: #fff;
          font-size: 18px;
          padding: 4px;
          border-radius: 5px;
          width: 100px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .description{
          display: flex;
          align-items: center;
          outline: none;
          border: none;
          background-color: transparent;
          svg{
            color: #29bd6e;
            font-size: 30px;
          }
        }
      }
    }
  }
  // end section page 
  // start subSection page
  .content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    padding: 0 10px;
    .card {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #ff7f50;
      border-radius: 10px;
      color: white;
      width: 346px; // Adjust width as needed
      height: 140px; // Adjust height as needed
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      position: relative;
      overflow: hidden;
      svg {
        font-size: 100px;
        margin-left: 10px;
      }
      .card-icon{
        position: absolute;
        top: 5px;
        height: 100%;
        left: -60px;
      }
      .card-text {
        font-size: 20px; // Adjust font size as needed
        font-weight: bold;
      }
    }
  }
  // end subSection page
  // start cart 
  .cart-top{
    position: fixed;
    .top-title{
      text-align: center;
    }
  }
  .cart-content{
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0 10px;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    background-color: #f7f7f7;
    padding: 15px;
    border-top-right-radius: 25px;
    border-top-left-radius:25px;
    // margin-top: 70px;
    position: absolute;
    top: 215px;
    max-height: 680px;
    .fixed-bottom{
      position: fixed;
      bottom: 65px;
      display: flex;
      justify-content: space-around;
      width: 100%;
      .total-price{
        .price{
          font-size: 25px;
          margin-left:8px ;
          color: var(--accent-100);
        }
      }
      .process{
        display: flex;
        align-items: center;
        gap: 15px;
        background-color: var(--accent-100);
        border: none;
        outline: none;
        padding: 8px 15px;
        color: #fff;
        border-radius: 12px;
        svg{
          font-size: 20px;
        }
      }
    }
    .steps-container {
      width: 100%;
    }
    .cart-items{
      display: flex;
      flex-direction: column;
      width: 100%;
      max-height: 550px;
      overflow: auto;
      gap: 15px;
      .item{
        display: flex;
        align-items: center;
        gap: 10px;
        background-color: #ffffff;
        padding: 8px;
        border-radius: 18px;
        img{
          width: 60px;
          height: 60px;
          border-radius: 50px;
        }
        .details{
          display: flex;
          flex-direction: column;
          gap: 5px;
          .item-name{
            font-size: 12px;
          }
          .quantity-price{
            display: flex;
            gap: 18px;
            align-items: center;
            justify-content: space-between;
            .item-price{
              color: var(--accent-100);
              font-size: 18px;
              display: flex;
              gap: 5px;
            }
            .item-quantity{
              display: flex;
              gap: 15px;
              .quantity-number{
                font-size: 15px;
              }
              button{
                border: none;
                outline: none;
                border-radius: 50%;
                width: 25px;
                height: 25px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 20px;
              }
            }
          }
        }
        .trash {
          border: none;
          outline: none;
          background-color: transparent;
          svg{
            color: rgb(196, 36, 36);
            font-size: 25px;
          }
        }
      }
    }
    // .total-price {
    //   display: flex;
    //   flex-direction: column;
    //   gap: 15px;
    //   .element {
    //     display: flex;
    //     justify-content: space-between;
    //     width: 100%;
    //     flex-flow:  wrap;
    //     gap: 15px;
    //     .col{
    //       width: 40%;
    //     }
    //   }
    // }
  }
  // end cart 
}
// start footer
.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  padding: 0px 15px 70px 15px;
  .logo{
    img{
      width: 50px;
      height: 50px;
    }
  }
  .links {
    display: flex;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
    a{
      font-size: 12px;
      color: #00000054;
      transition: .3s;
      &:hover{
        color: #000000;
      }
    }
  }
  .contact-us{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    .col{
      font-size: 25px;
      color: var(--primary-100);
    }
  }
}
// end footer
// start fixedFooter
.fixed-footer{
    // position: fixed;
    // bottom: 0;
    // width: 100%;
    // display: flex;
    // z-index: 1000;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 4px;
    display: flex;
    z-index: 1000;
    background-color: #f1f1f1;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 27%);
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    .col{
      font-size: 28px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 8px;
    }
    .col:nth-child(5){
      // background-color: #12486b;
      // color: #ffffff;
      color: #2656bf;
      color: #525252;
    }
    .col:nth-child(4){
      // background-color: #000000;
      // color: #ffffff;
      color: #ff0000;
      color: #525252;
    }
    .col:nth-child(3){
      // background-color: #2982bd;
      // color: #ffffff;
      color: #000000;
      color: #525252;
      display: flex;
      justify-content: center;
      align-items: center;
      .cart-items-number {
        span{
          padding: 0 4px;
          // background-color: #000000;
          font-size: 18px;
          border-radius: 4px;
          color: #000000;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
    .col:nth-child(2){
      // background-color: #efefef;
      // color: #29bd6e;
      color: #525252;
    }
    .col:nth-child(1){
      // background-color: #e62626;
      // color: #fff;
      // color: #8e0b0b;
      color: #525252;
    }
  }
// end fixedFooter

