@import '../Scss/Media';
// @import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
* {
  margin: 0;
  // font-family: "Cairo", sans-serif;
  font-family: 'Tajawal', sans-serif, Tahoma, Arial;
  box-sizing: border-box;
}
:root {
  --primary-100:#268be3;
  --primary-200:#366bdd;
  --primary-300:#004a8f;
  --accent-100:#13478b;
  --accent-200:#99c7ff;
  --text-100:#000000;
  --text-200:#2c2c2c;
  --bg-White:#fff;
  --bg-100:#F7EEDD;
  --bg-200:#ede4d3;
  --bg-300:#c4bcab;
}
::-webkit-scrollbar {
  width: 5px; /* width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #dddddd; /* color of the track */
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-100); /* color of the scrollbar */
  border-radius: 0px; /* roundness of the scrollbar */
}

body{
  background-color: var(--bg-white);
  direction: rtl;
  @include breakpoint(desktop){
    background-color: var(--bg-white);
  }
}
//NavBar
.nav-header{
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  gap: 1px;
  width: 100%;
  z-index: 1000;
  .first-navbar {
    background-color: var(--primary-100);
    width: 100%;
    color: white;
    z-index: 1000;
    .navbar-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
      padding: 10px 20px;
      @include breakpoint(desktop){
        padding: 10px 80px;
      }
      .search-bar {
        display: flex;
        flex: 1;
        margin: 0 20px;
        width: 100%;
        input {
          flex: 1;
          padding: 5px;
          border: none;
          outline: none;
          border-radius: 0 3px 3px 0;
        }
        button {
          padding: 5px;
          border: none;
          border: none;
          background-color: var(--accent-100);
          color: white;
          border-radius: 3px 0 0 3px;
          cursor: pointer;
        }
      }
      .nav-icons {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        gap: 25px;
        .icon {
          font-size: 1.3em;
          cursor: pointer;
        }
      }
    }
  }
  .second-navbar{
    background-color: var(--bg-White);
    width: 100%;
    position: relative;
    z-index: 1000;
    .navbar-container{
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
      padding: 10px 20px;
      @include breakpoint(desktop){
        padding: 10px 80px;
      }
      .logo{
        img{
          width: 50px;
          height: 50px;
        }
      }
      .nav-bars{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 4px;
        width: 30px;
        .bar{
          width: 100%;
          height: 5px;
          background-color: var(--accent-100);
          border-radius: 5px;
        }
      }
    }
  }
  .menu {
    width: 190px;
    background-color: var(--accent-100);
    position: absolute;
    top: 100%;
    left: 5%;
    transition: right 0.3s ease-out, opacity 0.3s ease-out;
    display:none;
    z-index: 1000;
    border-radius: 5px;
    padding:0 5px ;
    max-height: 281px;
    overflow-y: auto;
  }
  .menu.open {
    display: block;
  }
  .menu-item {
    border-bottom: 1px solid var(--primary-100);
    background-color: var(--accent-100);
    .menu-title {
      padding: 10px;
      cursor: pointer;
      font-size: 14px;
      background-color: var(--accent-100);
      color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &:hover{
        background-color: var(--primary-200);
      }
    }
  }
  .arrow-icon {
    margin-right: 10px;
  }
  
  .submenu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
  }
  
  .submenu.open {
    max-height: 500px; /* Adjust based on expected content size */
    transition: max-height 0.5s ease-in;
  }
  
  .submenu .menu-item {
    padding-right: 20px; /* Indentation for nested items */
    background-color: #e0e0e0;
  }
  // end Navbar
}
.main{
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 160px;
  height: calc(100vh - 160px);
  // top sale 
  .top-sale-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
    .product-img{
      width: 120px;
      height: 120px;
    }
    h2{
      align-self: center;
      color: rgba(26, 26, 26, 0.7);
      font-size: 28px;
      font-weight: normal;
    }
  }
  //end top sale 
}

