@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Cairo", sans-serif;
  overflow-x: hidden;
  direction: rtl;
}

:root {
  --primary-100:#FF7F50;
  --primary-200:#dd6236;
  --primary-300:#8f1e00;
  --accent-100:#8B4513;
  --accent-200:#ffd299;
  --text-100:#000000;
  --text-200:#2c2c2c;
  --bg-White:#fff;
  --bg-100:#F7EEDD;
  --bg-200:#ede4d3;
  --bg-300:#c4bcab;
}

body {
  background-color: var(--bg-100);
}
@media (min-width: 768px) {
  body {
    background-color: rgb(255, 255, 255);
  }
}

.Nav-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  width: 100%;
}
.Nav-header .navbar {
  background-color: var(--primary-100);
  width: 100%;
  color: white;
  z-index: 1000;
}
.Nav-header .navbar .navbar-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
}
.Nav-header .navbar .navbar-container .logo {
  font-size: 1.5em;
  font-weight: bold;
}
.Nav-header .navbar .navbar-container .search-bar {
  display: flex;
  flex: 1;
  margin: 0 20px;
  width: 100%;
}
.Nav-header .navbar .navbar-container .search-bar input {
  flex: 1;
  padding: 5px;
  border: none;
  border-radius: 3px 0 0 3px;
}
.Nav-header .navbar .navbar-container .search-bar button {
  padding: 5px;
  border: none;
  background-color: #555;
  color: white;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
}
.Nav-header .navbar .navbar-container .nav-icons {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  gap: 25px;
}
.Nav-header .navbar .navbar-container .nav-icons .icon {
  font-size: 1.5em;
  cursor: pointer;
}
.Nav-header .navbar:nth-child(2) {
  background-color: var(--bg-White);
}
.Nav-header .navbar:nth-child(2) .second-navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
}
.Nav-header .navbar:nth-child(2) .second-navbar-container .logo img {
  width: 50px;
  height: 50px;
}
.Nav-header .navbar:nth-child(2) .second-navbar-container .nav-bars {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4px;
  width: 30px;
}
.Nav-header .navbar:nth-child(2) .second-navbar-container .nav-bars .bar {
  width: 100%;
  height: 5px;
  background-color: var(--accent-100);
  border-radius: 5px;
}

.menu {
  width: 190px;
  background-color: var(--accent-100);
  position: fixed;
  top: 17%;
  left: 5%;
  transition: right 0.3s ease-out, opacity 0.3s ease-out;
  opacity: 0;
  z-index: 1000;
  border-radius: 4px;
  max-height: 305px;
}

.menu.open {
  opacity: 1;
}

.menu-item {
  border-bottom: 1px solid var(--primary-100);
  background-color: var(--accent-100);
}
.menu-item .menu-title {
  padding: 10px;
  cursor: pointer;
  font-size: 14px;
  background-color: var(--accent-100);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-item .menu-title:hover {
  background-color: var(--primary-200);
}

.arrow-icon {
  margin-right: 10px;
}

.submenu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.submenu.open {
  max-height: 500px; /* Adjust based on expected content size */
  transition: max-height 0.5s ease-in;
}

.submenu .menu-item {
  padding-right: 20px; /* Indentation for nested items */
  background-color: #e0e0e0;
}/*# sourceMappingURL=App.css.map */